@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+SC:wght@300;400;500;600;700&family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');
*{
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.navbar{
    border-radius: 10px;
    padding: 8px 30px;
}
.navbar-nav .nav-item {    
    margin: 0 30px; /* Adjust spacing as needed */
  }

.nav-link{
    padding: 5px;
    font-size: 17px;
}
.quote{
    text-shadow: 0px 5px 5px #48c052;
    font-weight: 600;
    font-size: 30px;
    color: #428d2f;
    font-family: "Cormorant SC", serif;
}
.task-list{
    width: auto;
    padding: 2%;
  }
.addtask{
    background-color: rgb(255, 203, 32);
}
.card{
    transition: ease-in-out 0.2s;
    box-shadow: 0px 3px 3px #afafaf;
}
.card .add-btn {
    padding:25px;
    border-radius: 50%;
    font-size: 2ch;
}
.card:hover{
    transform: scale(1.03);
}

footer{
    text-align: center;
    font-size: 12px;
}
@media (max-width: 991px) {
    .navbar{
        border-radius: 10px;
    }
    .quote{
        font-size: 22px;
    }
}
@media (max-width: 767px) {
   
    .title{
        padding:2% 0%;
        font-size: 16px;
    }
    .navbar-nav .nav-item {
        text-align: center;
        margin: 5px 0px; 
        padding: 8px;
      }
    .navbar{
        border-radius: 0px;
        margin-top: 0px;
    }
    .nav-link{
        font-size: 15px;
    }
    .task-list{
        margin-top: 2%;
        margin-bottom: 10%;
        padding:2% 8%;
    }
    .quote{
        margin: 4% 10%;
        text-shadow: 0px 5px 5px #48c052;
        font-weight: 500;
        font-size: 25px;
        color: #29681a;
        font-family: "Cormorant SC", serif;
    }
}